<div class="page-width feature-row ">
  <div class="feature-row text-icons">
    <div class="feature-row__item feature-row__text">
      {% if section.settings.title != blank %}
        <h2 class="h3">{{ section.settings.title | escape }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rte-setting featured-row__subtext">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="btn">
          {{ section.settings.button_label | escape }}
        </a>
      {% endif %}
    </div>

    {% if section.blocks.size > 0 %}
      <div class="icon-bar{% if section.settings.title_enable %} icon-bar--large{% endif %}">
        {% for block in section.blocks %}
          <div class="icon-bar__item{% if section.settings.title_enable %} icon-bar__item--large{% endif %}" {{ block.shopify_attributes }}>
            {% if block.settings.link != blank %}
              <a href="{{ block.settings.link }}" class="icon-bar__link">
            {% endif %}
            {% if block.settings.image != blank %}
              {{ block.settings.image | img_url: '160x160', scale: 2 | img_tag: block.settings.image.alt, 'icon-bar__image' }}
            {% else %}
              {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            {% if block.settings.link != blank %}
              </a>
            {% endif %}
            <p>
              {% if block.settings.logo_label != blank %}
                {{ block.settings.logo_label }}
              {% endif %}
            </p>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if section.settings.layout == 'right' %}
      {{ image_layout }}
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Text with Icons",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Text with Icons"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "logo_label",
            "label": "Logo label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text with Icons",
        "category": "Image"
      }
    ]
  }
{% endschema %}
